beautifulsoup4==4.12.3
bottle==0.13.2
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
colorzero==2.0
cryptography==44.0.0
feedparser==6.0.11
frozendict==2.4.6
gpiozero==2.0.1
greenlet==3.1.1
html5lib==1.1
idna==3.10
lgpio==0.2.2.0
lxml==5.3.0
multitasking==0.0.11
numpy==2.2.1
pandas==2.2.3
peewee==3.17.8
pigpio==1.78
pillow==11.1.0
platformdirs==4.3.6
pycparser==2.22
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
RPi.GPIO==0.7.1
sgmllib3k==1.0.0
six==1.17.0
soupsieve==2.6
spidev==3.6
SQLAlchemy==2.0.36
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.3.0
webencodings==0.5.1
yfinance==0.2.51
