:root {
	font-family: "Roboto", sans-serif !important;
	line-height: 1.5;
	font-weight: 400;
	min-height: 100%;
	height: auto;
	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background: linear-gradient(135deg, #1e1e2f, #121212);
	background-size: cover;
	background-repeat: no-repeat;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	height: auto;
	background: inherit;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}

button {
	background: #4caf50; /* Example button color */
	border: none;
	border-radius: 5px;
	color: white;
	padding: 10px 20px;
	font-family: "Poppins", sans-serif;
	cursor: pointer;
	transition: all 0.3s ease;
}
button:hover {
	background: #45a049; /* Slightly darker on hover */
	transform: scale(1.05);
}

select {
	background: #2b2b40;
	color: white;
	border: 1px solid #555;
	border-radius: 5px;
	padding: 5px 10px;
	font-family: "Poppins", sans-serif;
}
